<template name="cdnHealth">
  <div class="row">
    <fieldset>
      <legend>CDN</legend>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">App AWS</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">Storage AWS</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">App GCP</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">Storage GCP</button>
      </div>
    </fieldset>
  </div>
</template>
