<template name="nomadServersHealth">
  <fieldset>
    <legend>Nomad Servers</legend>
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn {{getPing "server-aws-nomad-servers-1.node.us-west-2.consul"}}">Node 1 AWS</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn {{getPing "server-aws-nomad-servers-2.node.us-west-2.consul"}}">Node 2 AWS</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn {{getPing "server-aws-nomad-servers-3.node.us-west-2.consul"}}">Node 3 AWS</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn {{getPing "server-gcp-nomad-servers-1.node.europe-west1.consul"}}">Node 1 GCP</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn {{getPing "server-gcp-nomad-servers-2.node.europe-west1.consul"}}">Node 2 GCP</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn {{getPing "server-gcp-nomad-servers-3.node.europe-west1.consul"}}">Node 3 GCP</button>
      </div>
    </div>
  </fieldset>
</template>
